body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.map-container {
  /* position: absolute; */

  /* top: 0;
  bottom: 0;
  width: 95%; */
  height: 400px;
  /* margin-left: 8px; */
}
.kit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kits-nearby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  /* position: absolute; */
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #fff;
  z-index: 1;
}

/* .mapboxgl-canvas {
  border-radius: 60%;
  overflow: hidden;
} */

.material-symbols-outlined {
  font-size: 40px;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  background: beige;
  padding: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 499px) {
  .mapboxgl-canvas {
    border-radius: 60%;
    overflow: hidden;
  }

  .map-container {
    border-radius: 60%;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
  }

  .kit-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .name {
    display: none;
  }

  .header-container {
    margin-bottom: 20px;
  }

  .logo {
    img {
      width: 50%;
    }
  }

  .circle {
    border-radius: 50%;
    margin: 8px;
    box-shadow: #858585 6px 11px 20px 10px;
  }
}

@media screen and (min-width: 499.1px) {
  .icon {
    display: none;
  }

  .logo {
    img {
      height: 40px;
    }
  }
}

.notification-banner {
  background-color: #00703c;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin: 15px;
  width: -webkit-fill-available;
}

.notification-banner a {
  color: #fff;
  text-decoration: underline;
}

.notification-banner-close {
  cursor: pointer;
  color: #fff;
  float: right;
  font-size: 1.2rem;
}
